* {
	margin: 0px;
	padding: 0px;
}
#headear {
	background-color: #000000;
	max-width: 100%;
}
.encabezado {
	background-color: #000000;
	color: #D6BE94;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
	width: 92%;
}
#navigation {
	width: 80%;
	background-color: #FFFFFF;
}
.linkNavegacion {
	display: block;
	min-width: 100px;
	background-color: #FFFFFF;
	color: #D6BE94;
	float: left;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
}
.linkNavegacion:visited, .linkNavegacion:active {
	color: #D6BE94;
}
.linkNavegacion:hover {
	background-color: #1F1F1F;
	color: #DEC99B;
}
.seleccionado {
	background-color: #000000;
}
#cuerpo {
	width: 100%;
	background-color: #666666;
	display: block;
}

#nuevoProyecto {
	background: url(img/home1.jpg) no-repeat;
	min-height: 300px;
	float: left;
	width: 75%;
	height: 100%
}
.cuartoNegroTransparente {
	width: 25%;
	height: 100%;
	min-height: 300px;
	background-color: #222222;
	opacity: 0.9;
	color: #F8F8F8;
	float: left;
	position: relative;
}
.cuartoNegroTransparente h1 {
	text-align: left;
	width: 95%;
	margin-left: 5%;
	border-bottom: solid 1px #A2A2A2;
	color: #A2A2A2;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
}
.cuartoNegroTransparente h2 {
	text-align: right;
	padding-right: 5%;
	color: #A2A2A2;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
	float: right;
	max-width: 80%;
}
.detalleProyecto {
	text-align: right;
	width: 95%;
	float: right;
	margin-right: 5%;
	border-bottom: solid 1px #FFFFFF;
	position: absolute;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
.detalleProyecto p {
	text-align: right;
	float: right;
	width: 60%;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
#footer {
	min-height: 100px;
	height: 15%;
	background-color: #FFFFFF;
	width: 100%;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
#datos {
	float: right;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
#copyright {
	height: 25px;
	width: 100%;
	text-align: center;
	float: right;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
/*nosotros*/
#wrapperMiembros {

	float: left;
	width: 70%;
}
.miembro {
	width: 20%;
	color: #F8F8F8;
	float: left;
}
.nombre {
	float: right;
	text-align: right;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
	width: 100%;
}
.foto {

	background-color: #333333;
	border: 0;
	float: right;
}
.credenciales {
	border-top: 1px solid #FFFFFF;
	text-align: right;
	width: 100%;
	float: right;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	font-style: italic;
}
.cv {
	text-align: right;
	width: 90%;
	float: right;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
/*nosotros*/
/*contacto*/
#wrapperContacto {

	float: left;
}
.formContacto {
	height: 100%;
	width: 100%;
}
#camposWrapper {
	float: left;
	width: 100%;
}
.campoFormulario {

	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
.campoFormulario label {
	color: #F6F7F9;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
.campoFormulario input, .campoFormulario textarea {
	background-color: #333333;
	color: #F6F7F9;
	float: right;
	width: 60%;
	border: 0px;
	resize: none;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
}
.btnEnviar {
	background-color: #333333;
	color: #F6F7F9;
	float: right;
}
/*contacto*/

/*Portfoilio*/
#wrapperPortfolio {
	overflow-x: hidden;
}
.carrouselBN {
	padding: 5%;
}
.proyecto {
	height: 100%;
	min-width: 250px;
	padding: 0 2% 0 2%;
}

.proyecto h3 {
	text-align: right;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
	color: #F6F7F9;
	padding: 0 0 2% 0;
}
.proyecto div {

	width: 100%;
}
.proyecto p {
	text-align: right;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
	color: #F6F7F9;
	padding: 2% 0 1% 0;
}
.rnc {
	background: url(img/rnc1.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.rnc:hover {
	background: url(img/rnc1_onhover.png) no-repeat;
	background-size: cover;
}
.itineris {
	background: url(img/rnc1.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.itineris:hover {
	background: url(img/rnc1_onhover.png) no-repeat;
	background-size: cover;
}
.el {
	background: url(img/EL1.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.el:hover {
	background: url(img/EL1_onhover.png) no-repeat;
	background-size: cover;
}
.mMartin{
	background: url(img/MM1.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.mMartin:hover {
	background: url(img/MM1_onhover.png) no-repeat;
	background-size: cover;
}
.autoArgentinos {
	background: url(img/AA1.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.autoArgentinos:hover {
	background: url(img/AA1_onhover.png) no-repeat;
	background-size: cover;
}
.mMKT {
	background: url(img/mkt1.png) no-repeat;
	background-size: cover;
	cursor: pointer;
}
.mMKT:hover {
	background: url(img/mkt1_onhover.png) no-repeat;
	background-size: cover;
}
.separator {
	width: 100%;
	height: 1px;
	background-color: #FFFFFF;
	display: block;
}
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(img/modal_close.png);
	z-index: 2;
}
#wrapperDetalleProyectos{
	display: none;
}
.sliderDetalle {
	width: 25%;
	height: 100%;
	background-color: #222222;
	color: #F8F8F8;
	float: left;
	position: relative;
}
.proyectoDetallado{
	min-height: 550px !important	;
	
}
.proyectoDetallado h1 {
	text-align: left;
	width: 95%;
	margin-left: 5%;
	border-bottom: solid 1px #A2A2A2;
	color: #A2A2A2;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
}
.proyectoDetallado h2 {
	text-align: right;
	padding-right: 5%;
	padding-bottom: 2%;
	color: #A2A2A2;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
	float: right;
	width: 80%;
}
.proyectoDetallado h3 {
	text-align: right;
	padding-right: 5%;
	color: #A2A2A2;
	font-family: 'BenchNine', sans-serif;
	font-weight: 300;
	float: right;
	width: 70%;
}
.sliderFotos{
	width: 75%;
	height: 100%;
	background-color: #666666;
	color: #F8F8F8;
	float: left;
	position: relative;
}
.fotoIlustrativa{
	min-height: 400px;
	padding: 2% 2% 0 2%;
}
.fotoIlustrativa img{
	max-height: 90%;
	width: 90%;
	margin-left: 5%;
	margin-top: 2.5%;
}
.detallePortfolio {

}
/*Portfoilio*/

@media screen and (max-height: 800px) {
	.linkNavegacion {
		padding: 30px 30px 30px 30px;
		font-size: 20px;
	}
	.encabezado {
		font-size: 80px;
		padding: 20px 0px 15px 80px;
	}
	#navigation {
		min-height: 87px;
		padding: 0px 0px 0px 20%;
	}
	.cuartoNegroTransparente h1 {
		font-size: 16px;
		padding: 5px 0 5px 0;
	}
	.cuartoNegroTransparente h2 {
		font-size: 14px;
	}
	.detalleProyecto {
		font-size: 12px;
		bottom: 15px;
		padding-bottom: 5px;
	}
	.detalleProyecto p {
		font-size: 12px;
	}
	#cuerpo{
		min-height: 300px;
	}
	#footer {
		font-size: 12px;
	}
	#datos {
		padding: 10px 30px 30px 0px;
		font-size: 12px;
	}
	#copyright {
		font-size: 12px;
	}
	#wrapperMiembros {
		padding: 50px 0 30px 50px;
	}
	.miembro {
		font-size: 12px;
		margin-right: 75px;
		min-width: 100px;
	}
	.nombre {
		font-size: 16px;
	}
	.foto {
		height: 150px;
		width: 140px;
		margin-bottom: 20px;
	}
	.credenciales {
		font-size: 12px;
		padding: 4px 0 10px 0;
	}
	.cv {
		font-size: 12px;
	}
	#wrapperContacto {
		padding: 100px 0 100px 80px;
		min-height: 200px;
	}
	.formContacto {

	}
	#camposWrapper {
		padding-bottom: 30px;
	}
	.campoFormulario {
		min-width: 356px;
		margin-bottom: 10px;
		font-size: 14px;
	}
	.campoFormulario label {
		font-size: 14px;
	}
	.campoFormulario input, .campoFormulario textarea {
		font-size: 14px;
		padding: 0 0 0 5px;
	}
	.btnEnviar {
		padding: 0 0 0 5px;
	}
	.proyecto h3 {
		font-size: 24px;
	}
	.proyecto img {

		min-height: 100px;
		min-width: 150px;
	}
	.proyecto p {
		font-size: 14px;
	}
	.separator {
		height: 1px;
		margin: 20px 0 5px 0;
	}
	.proyectoDetallado h1 {
		font-size: 20px;
	}
	.proyectoDetallado h2 {
		font-size: 16px;
	}
	.proyectoDetallado h3 {
		font-size: 12px;
	}
}

@media screen and (min-height: 800px) {
	.linkNavegacion {
		padding: 30px 30px 30px 30px;
		font-size: 30px;
	}
	.encabezado {
		font-size: 80px;
		padding: 10px 0px 15px 80px;
	}
	#navigation {
		height: 101px;
		padding: 0px 0px 0px 20%;
	}
	.cuartoNegroTransparente h1 {
		font-size: 34px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.cuartoNegroTransparente h2 {
		font-size: 20px;
	}
	.detalleProyecto {
		font-size: 12px;
		bottom: 15px;
	}
	.detalleProyecto p {
		font-size: 16px;
	}
	#cuerpo{
		min-height: 500px;
	}
	#footer {
		font-size: 14px;
	}
	#datos {
		padding: 10px 30px 30px 0px;
		font-size: 16px;
	}
	#copyright {
		font-size: 12px;
	}
	#wrapperMiembros {
		padding: 50px 0 30px 50px;
	}
	.miembro {
		font-size: 12px;
		margin-right: 75px;
	}
	.nombre {
		font-size: 24px;
	}
	.foto {
		height: 200px;
		width: 187px;
		margin-bottom: 20px;
	}
	.credenciales {
		font-size: 16px;
		padding: 4px 0 10px 0;
	}
	.cv {
		font-size: 16px;
	}
	#wrapperContacto {
		padding: 100px 0 100px 80px;
		min-height: 200px;
	}
	.formContacto {

	}
	#camposWrapper {
		padding-bottom: 30px;
	}
	.campoFormulario {
		min-width: 356px;
		margin-bottom: 10px;
		font-size: 22px;
	}
	.campoFormulario label {
		font-size: 22px;
	}
	.campoFormulario input, .campoFormulario textarea {
		font-size: 22px;
		padding: 0 0 0 5px;
	}
	.btnEnviar {
		padding: 0 0 0 5px;
	}
	.proyecto h3 {
		font-size: 32px;
	}
	.proyecto div {
		padding-bottom: 16px;
		min-height: 220px;
		min-width: 400px;
	}
	.proyecto p {
		font-size: 16px;
	}
}